<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src='https://cdn.rawgit.com/lagden/vanilla-masker/lagden/build/vanilla-masker.min.js'></script>
<script  src="/js/script.js"></script>
<!-- Validar form -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js"></script>

<script src="/js/main.js"></script>
<script src="/js/topo.js"></script>
<script src="/js/loader.js"></script>
<script src="/js/formCadastro.js"></script>
<script src="/js/crie.js"></script>
<script src="/js/formSobre.js"></script>
<script src="/js/formLogin.js"></script>
<script src="/js/formEditarAluno.js"></script>

<script src="/js/formCadastroAluno.js"></script>

<script src="/js/messages_pt_BR.js"></script>

<script src="/js/carrousel.js"></script>
<script src="/js/pwa.js"></script>
<script src="/js/status.js"></script>

<!-- PDF -->
<script src="https://cdn.jsdelivr.net/npm/pdfmake@0.1.65/build/pdfmake.min.js"></script>
<script src="/js/html2canvas.min.js"></script>
<script src="/js/exportar.js"></script>

<!-- EXCEL -->
<script src="https://cdn.jsdelivr.net/npm/jquery-table2excel@1.1.1/dist/jquery.table2excel.min.js"></script>

<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
        $('select').formSelect();
    });

    $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
</script>

    </body>
</html>