<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site voltado para educadores físicos gerenciar dados do alunos que utilizam o aplicativo Strava. Conseguingo assim, organizar suas finanças, agendas, monitoramento dos alunos e outros.">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="../../img/Iconlogo.png" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HIGH PERFORMANCE</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="apple-touch-icon" href="img/icon-192x192.png">
    <link rel=”canonical” href="https://highperformancedh.azurewebsites.net"/>
    <link rel="manifest" href="/js/pwa.webmanifest">
    <script src="/js/pwa.js"></script>
    <script src="/js/status.js"></script>
</head>

<body>