        <%- include('partials/header') %>
        <link rel=”canonical” href="https://highperformance.herokuapp.com/pages/cadastro/cadastro.html" />
        <link rel="stylesheet" href="/css/cadastro.css">
    </head>
<body>
    
    <%- include('partials/navBar') %>
    <%- include('partials/bikeGif') %> 

    <div class="cadastro">
        <div class="row">
            <div class="col s12 m12 l6 center-align" id="cadastroContainer">
                <a href="../alunos/alunos.html">
                    <img class="responsive-img logo" src="../../img/icon512.png" alt="High Performance">
                </a>
                <h1>Cadastrar novo aluno</h1>
            </div>
            <div class="col s12 m12 l6">
                <form class="formValidate" id="formValidate" method="POST" action="../alunos/alunos.html">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="name" id="name" type="text" data-error=".errorTxt1">
                        <label for="name">Nome</label>
                        <div class="errorTxt1 right-align "></div>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input name="email" id="email" type="email" data-error=".errorTxt2">
                        <label for="email">E-mail</label>
                        <div class="errorTxt2 right-align "></div>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">call</i>
                        <input name="cel" attrname="telephone1" type="tel" id="tel" data-error=".errorTxt3">
                        <label for="tel">Celular</label>
                        <div class="errorTxt3 right-align "></div>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input name="data" type="date" class="form-control" data-error=".errorTxt4">
                        <label for="date">Data Nasc.</label>
                        <div class="errorTxt4 right-align"></div>
                    </div>
                    <div class="input-field">
                        <button class="btn waves-effect waves-light right submit" type="submit" name="action">Cadastrar
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../../js/loader.js"></script>

    <!-- Validar form -->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js"></script>
    <script src="../../js/messages_pt_BR.js"></script>
    <script src="../../js/formCadastroAluno.js"></script>

    <!-- Mascarar telefone -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
    <script src="../../js/maskTel.js"></script>
</body>

</html>