        <%- include('partials/header') %>
        <link rel=”canonical” href="https://highperformancedh.azurewebsites.net"/>
        <link rel="stylesheet" href="/css/cadastroAlunos.css">
    </head>
<body>
    <%- include('partials/navBar') %>
    <%- include('partials/bikeGif') %> 

    <div class="cadastro" style="margin: 30px;padding: 10px;">
        <h1 style="text-align:center;font-weight:bold;margin:0;">Cadastrar Aluno</H1>
        <div class="row" style="text-align: center;">
            <div class="col s12 m12">
                <form class="formValidate" id="formValidate" method="POST" action="/home/cadastrarAlunos" enctype="multipart/form-data" style="margin: 30px;padding: 0;">
                    <input type="file" id="imgUser" name="imgUser" accept="image/*" style="display: none;">
                    <img id="inseriImagem" class="responsive-img logo" src="../../img/imgUser.png" alt="High Performance"
                        style="cursor:pointer;width:300px; border-radius: 50%;border: 1px solid;height:300px;margin-bottom:30px;">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="nome" id="nome" type="text" data-error=".errorTxt1">
                        <label for="nome">Nome</label>
                        <div class="errorTxt1 right-align "></div>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input name="email" id="email" type="email" data-error=".errorTxt2">
                        <label for="email">E-mail</label>
                        <div class="errorTxt2 right-align "></div>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">call</i>
                        <input name="telefone" type="tel" id="tel" data-error=".errorTxt3">
                        <label for="telefone">Celular</label>
                        <div class="errorTxt3 right-align "></div>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">directions_run</i>
                        <input name="meta" type="text" class="form-control" data-error=".errorTxt4">
                        <label for="meta">Meta</label>
                        <div class="errorTxt4 right-align"></div>
                    </div>
                    <div class="input-field">
                        <button class="btn waves-effect waves-light right submit" type="submit" name="action"
                            id="btnSubmit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        let inserirImagem =  document.getElementById('inseriImagem')
        let imagemUser = document.getElementById('imgUser')
        inserirImagem.addEventListener('click', ()=>imagemUser.click())

        var loadFile = function(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('inseriImagem');
                output.src = reader.result;
                console.log(output.src)
            }
            reader.readAsDataURL(event.target.files[0]);
        }
              
        imagemUser.addEventListener('change',loadFile)           
        

    </script>

    <%- include('partials/footer') %>