<%- include('partials/header') %>
<link rel="canonical" href="https://highperformance.herokuapp.com/pages/entrar/login.html" />
<link rel="stylesheet" href="/css/depoimentos.css">
</head>
<body>

<%- include('partials/navBar') %>
<%- include('partials/bikeGif') %> 

<div class="row">

<div class="col s12 m11 l5" id="login">
    <h1>Deixe o seu depoimento</h1>

    <form id="formDepoimentos" method="POST" action="/cadastrarDepoimento" enctype="multipart/form-data">
        <div class="input-field center-align">
            <img id="imgOpniao" class="responsive-img logo" src="../../img/imgUser.png" alt="High Performance" width="100" height="100">
        </div>
        <div class="input-field center-align">
            <input type="file" id="inputOpnion" name="inputOpnion" accept="image/*" data-error=".errorTxt1">
            <div class="errorTxt1"></div>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <label for="nome">Nome</label>
            <input name="nome" id="nome" type="text" data-error=".errorTxt2">  
            <div class="errorTxt2 right-align"></div>                  
        </div>

        <div class="input-field">
            <i class="material-icons prefix">gavel</i>
            <label for="profissao">Profisão</label>
            <input name="profissao" id="profissao" type="text" data-error=".errorTxt3">  
            <div class="errorTxt3 right-align"></div>                  
        </div>

        <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix">question_answer</i>
              <textarea name="mensagem" id="mensagem" class="materialize-textarea" data-length="100" data-error=".errorTxt4"></textarea>
              <label for="mensagem">Mensagem</label>
              <div class="errorTxt4 right-align"></div>
          </div>
      </div>
        
        <div class="input-field">
            <button id="btn" class="btn waves-effect waves-light right submit" type="submit" name="action">Enviar</button>
        </div>
    </form>
</div>

<div class="col s12 m l7">
    <img class="responsive-img bannerimg" src="/img/opniao.png" alt="Banner Login">
</div>
</div>

<script>
    let imagemOpniao =  document.getElementById('imgOpniao')
    let input = document.getElementById('inputOpnion')
    imagemOpniao.addEventListener('click', ()=>input.click())

    var loadFile = function(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('imgOpniao');
            output.src = reader.result;
            console.log(output.src)
        }
        reader.readAsDataURL(event.target.files[0]);
    }
          
    input.addEventListener('change',loadFile)           
</script>

<%- include('partials/footer') %>

