<!DOCTYPE html>
<html lang="en">

<head>
    <title>Finanças</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site voltado para educadores físicos gerenciar dados do alunos que utilizam o aplicativo Strava. Conseguingo assim, organizar suas finanças, agendas, monitoramento dos alunos e outros.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/Iconlogo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/financas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel=”canonical” href="https://highperformance.herokuapp.com/pages/financas/financas.html" />
</head>

<body>
    <div class="center-align loader">
        <img src="/img/bike.svg" alt="Loader" class="responsive-img">
    </div>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #ffffff white">
                <!-- Logo -->
                <a href="/" class="brand-logo">
                    <img class="responsive-img" src="/img/logo.png" alt="Logo da Pagina" style="width: 300px;">
                </a>

                <!-- Ícone para abrir no Mobile -->
                <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
                    <i class="material-icons black-text">menu</i>
                </a>

                <ul id="navbar-items" class="right hide-on-med-and-down">
                    <li><a href="/alunos" class="black-text">Alunos</a></li>
                    <li><a href="/crie" class="black-text">Crie</a></li>
                    <li><a href="/financas" class="orange-text">Finanças</a></li>
                    <li><a href="/" class="black-text">Sair</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Menu Mobile -->
    <ul id="mobile-navbar" class="sidenav">
        <li><a href="/alunos" class="black-text">Alunos</a></li>
        <li><a href="/crie" class="black-text">Crie</a></li>
        <li><a href="/financas" class="orange-text">Finanças</a></li>
        <li><a href="/" class="black-text">Sair</a></li>
    </ul>


    <div class="row" id="grafico">
        <div class="col s12 m12 l8">
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>

        <div class="col s12 m12 l4">
            <div class="cards">

                <div class="card">
                    <div>
                        <i class="material-icons background-round mt-5">attach_money</i>
                    </div>
                    <div class="right-align">
                        <h5 class="white-text">R$ 8.900,00</h5>
                        <p class="white-text">Total</p>
                    </div>
                </div>
                <div class="card2">
                    <div>
                        <i class="material-icons background-round mt-5">timeline</i>
                    </div>
                    <div class="right-align">
                        <h5 class="white-text">%10</h5>
                        <p class="white-text">Crescimento</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="lista">
        <div class="col s12 m12 l12 left-align">
            <div class="nav-wrapper">
                <div class="input-field">
                    <input id="search" type="search" required placeholder="Pesquisar">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </div>

        </div>
    </div>


    <!-- Lista dos alunos -->
    <div class="container">
        <div class="col s12 m12 l12">
            <table class="highlight centered table" id="tabledata">
                <thead>
                    <tr>
                        <th>Imagem</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Pagamento</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><img src="/img/avatar.png" alt="Foto José"></td>
                        <td>José</td>
                        <td>0800545145</td>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span class="black-text">Pago</span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td><img src="/img/avatar.png" alt="Foto José"></td>
                        <td>José</td>
                        <td>0800545145</td>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span class="black-text">Pago</span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="page-footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">HIGH PERFORMANCE</h5>
                    <p class="white-text text-lighten-4">Monitores os seus alunos.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="white-text text-lighten-3" href="/alunos">Alunos</a></li>
                        <li><a class="white-text text-lighten-3" href="/crie">Crie</a></li>
                        <li><a class="white-text text-lighten-3" href="/financas">Finanças</a></li>
                        <li><a class="white-text text-lighten-3" href="/">Sair</a></li>
                    </ul>
                </div>
                <div class="col l1 s4 right">
                    <a href="#top" class="glyphicon glyphicon-chevron-up  tooltipped" data-position="left" data-tooltip="Voltar ao topo!"><img src="/img/up.png" alt="Voltar ao topo"></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container white-text">
                © 2020 High Performance Copyright
                <a class="white-text text-lighten-4 right" href="https://logomakr.com">Created my free logo at
                    LogoMakr.com</a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/topo.js"></script>
    <script src="/js/finacas.js"></script>
    <script src="/js/loader.js"></script>
</body>

</html>