.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.loader img {
    width: 400px;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#grafico {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 20vh;
}

.cards {
    margin-top: 135px;
}

.card {
    background: #56ab2f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f);
    height: 157px;
    margin-top: 120px;
}

.card i {
    margin-left: 50px;
    margin-top: 50px;
    color: white;
}
.card2 i {
    margin-left: 50px;
    margin-top: 15px;
    color: white;
}

.card p {
    margin-right: 32px;
    margin-top: 15px;
    font-weight: bold;
    color: white;
}

.card2 p {
    margin-right: 32px;
    margin-top: -40px;
    font-weight: bold;
    color: white;
}

.card h5,
.card2 h5 {
    margin-top: -58px;
    margin-right: 29px;
    font-weight: bold;
}

.background-round {
    background-color: rgba(0, 0, 0, 0.18);
    padding: 15px;
    border-radius: 50%;
}

.card2 {
    background: #FDC830;
    background: -webkit-linear-gradient(to left, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);
    height: 80px;
}

#lista {
    margin-right: 100px;
    margin-bottom: 100px;
}

#tabledata {
    margin-bottom: 200px;
}

#alunosAtivos {
    margin-top: 100px;
    margin-bottom: 100px;
}

#formFinancas{
    margin-bottom: 40vh;
}

#formFinancas li:focus,
#formFinancas .input-field input[type=number]:focus  {
    border-bottom: 1px solid #ff7e00;
    box-shadow: 0 1px 0 0 #ff7e00;
}

#formFinancas .input-field label {
    color: #000;
}

#formFinancas .input-field .prefix.active {
    color: #ff7e00;
}

.error {
    color: red;
}

#formFinancas li>span {
    color: #000 !important;
  }

#formFinancas button{
    margin-top: 20px;
    background-color: #ff7e00;
    border-radius: 8px;
    width: 20%;
    font-weight: bold
   }

   #formFinancas button:hover{
    background-color: white;
    color: black;
}

#footer {
    background-color: #ff7e00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ff7e00'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23ffbf80'/%3E%3Cstop offset='1' stop-color='%23ff7e00'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    /* background by SVGBackgrounds.com */
    border-top: 5px solid white;
    margin-top: 80px;
}

#footer h5 {
    font-weight: 600;
}

#footer p,
#footer a {
    font-weight: 500;
}

#footer img {
    height: 80px;
}

a[href="#top"] {
    padding: 10px;
    top: 90%;
    right: 40px;
    display: none;
    font-size: 30px;
}

a[href="#top"]:hover {
    text-decoration: none;
}

@media (max-width:600px) {
    #lista h5 {
        display: none;
    }
    .loader img {
        margin-top: 0;
        max-height: 100vh;
    }
    #grafico {
        margin-bottom: 120px;
    }
    canvas {
        margin-bottom: 30vh;
    }
    #lista {
        margin-bottom: 100px;
    }
    #tabledata {
        margin-bottom: 200px;
    }
}